[submodule "jni/speex"]
	path = jni/speex
	url = git://git.xiph.org/speex.git
[submodule "jni/opus"]
	path = jni/opus
	url = git://git.xiph.org/opus.git
[submodule "jni/celt-0.11.0-src"]
	path = jni/celt-0.11.0-src
	url = git://git.xiph.org/celt.git
[submodule "jni/celt-0.7.0-src"]
	path = jni/celt-0.7.0-src
	url = git://git.xiph.org/celt.git
