[submodule "Jumble/src/main/jni/speex"]
	path = Jumble/src/main/jni/speex
	url = git://git.xiph.org/speex.git
[submodule "Jumble/src/main/jni/opus"]
	path = Jumble/src/main/jni/opus
	url = git://git.xiph.org/opus.git
[submodule "Jumble/src/main/jni/celt-0.11.0-src"]
	path = Jumble/src/main/jni/celt-0.11.0-src
	url = git://git.xiph.org/celt.git
[submodule "Jumble/src/main/jni/celt-0.7.0-src"]
	path = Jumble/src/main/jni/celt-0.7.0-src
	url = git://git.xiph.org/celt.git
