<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morlunk.jumble"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true">
        <service android:name=".JumbleService"
                 android:exported="true">
            <intent-filter>
                <action android:name="com.morlunk.jumble.ACTION_CONNECT"/>
                <action android:name="com.morlunk.jumble.ACTION_DISCONNECT"/>
            </intent-filter>
        </service>
    </application>

</manifest>
